* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15151577;
    width: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

:root {
    --color-blue: #1b2431;
    --color-orange: #ff7b00;
    --color-white: #ffffff;
}

/* tela de carregamento */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-orange);
}

#loading-text {
    position: absolute;
    color: var(--color-white);
    font-size: 3rem;
    z-index: 10;
}

.container {
    display: inline;
    border-radius: 20px;
    width: 95%;
    max-width: 400px;
    background:
        radial-gradient(circle at top right, #ff7b00bd 0%, transparent 40%),
        linear-gradient(to top right, #1f2b3b 0%, #1f2b3b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;

}

.content {
    min-width: 320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.widget1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.widget1 .photo-logo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.widget1 .infor-user h1 {
    font-size: 1.8rem;
    background-color: var(--color-white);
    padding: 7px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
}

.social-media i {
    font-size: 1.9rem;
    color: #2a5083;
    margin: 0 17px;
    transition: color 0.3s ease;

}

.social-media .bi-instagram:hover {
    color: #E1306C;
    transition: color 0.3s;
}
.social-media .bi-linkedin:hover {
    color: #0077B5;
    transition: color 0.3s;
}
.social-media .bi-tiktok:hover {
    color: #000000;
    transition: color 0.3s;
}
.social-media .bi-twitter-x:hover {
    color: #00acee;
    transition: color 0.3s;
}

.carousel-names {
    display: flex;
  padding-left: 100%; /* começa fora da tela à esquerda */
  animation: slide 10s linear infinite; /* duração e loop */
  font-size: 1.5rem;
  color: #2a5083;
  gap: 3rem;
  
} & h2 {
    font-weight: 200;
}

.carousel-names h2:hover {
    
    color: var(--color-orange);
} & .carousel-names:hover{
    animation-play-state: paused; /* pausa a animação ao passar o mouse */
    cursor: pointer;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-40%); }
}

.widget2 {
    width: 100%;
    height: 16%;
    background-color: #1f3653;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.widget2:hover {
    background-color: var(--color-orange);
    transition: background-color 0.3s ease;
    cursor: pointer;
}



.widget2 .names {
     line-height: 0.9;
}

.widget2 .names h4{
    font-size: 1.5rem;
    color: #06c1f0;
    font-weight: 200;
    padding-left: 0.5rem;
    transition: color 0.3s ease;
}

.widget2:hover h4 {
    color: black;
}
.widget2 .names h2{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
    padding-left: .2rem;
    transform: scaleX(1.6); /* aumenta 50% a largura */
    transform-origin: left;
}

.widget2 .icon {
    font-size: 2.5rem;
    color: #000000;
    padding-right: .5rem;
}
